body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../Images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* styles/navigation.css */

nav {
    background-color: black; /* Dark background color */
    padding: 10px 0; /* Add some padding for better spacing */
    text-align: left; /* Center-align navigation items */
}

nav ul {
    list-style-type: none; /* Remove default bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    display: inline-block; /* Display list items horizontally */
}

nav ul li a {
    display: block; /* Make links block-level for better styling */
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline from links */
    padding: 10px 20px; /* Add padding to links */
}

nav ul li a:hover {
    background-color: #555; /* Darken background color on hover */
}

/* Style the active link */
nav ul li a.active {
    text-decoration: underline; /* Underline the active link */
}

.container {
    position: relative;
    z-index: 1;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-container {
    margin-left: auto; /* This helps push the checkbox container to the right */
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.search-group-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px); /* Matches the standings container width minus padding */
    padding: 0 20px; /* Aligns with the padding of the standings container */
    margin: 20px auto; /* Center aligns the container */
}

.league-search-container, .season-selector-container {
    display: flex;
    flex-direction: column;
}

.league-search-container {
    flex-grow: 2;
    margin-right: 100px; /* Ensures a gap between the search boxes */
}

.season-selector-container {
    flex-grow: 1;
    max-width: 200px; /* Optionally control the max width of the season selector */
}

#league-search-input, #season-selector {
    width: 100%;
    margin: 30px 20px;
    padding: 30px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

#search-results {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin-top: 5px;
    z-index: 2;
    left: 20px; /* Align with the left padding of the container */
}

.search-result-item {
    padding: 10px;
    color: white;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.search-result-item:hover {
    /*background-color: #0055bb;*/
    background-color: rgba(255, 255, 255, 0.2);
}

.notification-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    z-index: 1000; /* Make sure it's on top of other elements */
    font-size: 16px;
}


.standings-container, .current-selection-container {
    text-align: center;
    padding: 20px;
    margin: 30px 20px; /* Keep the left and right margins */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.2);
    max-width: calc(100% - 40px); /* Adjusted maximum width */
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

#standings-table, #current-selection-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

#standings-table th, #standings-table td,
#current-selection-table th, #current-selection-table td{
    padding: 10px; /* Adjusted padding */
    border-bottom: 1px solid #ddd;
    color: white;
}
#fixtures-table td:nth-child(5){
    background-color: white;
}

#standings-table th, #current-selection-table th{
    background-color: rgba(0, 0, 0, 0.8);
}

#standings-table tr:hover, #current-selection-table tr:hover{
    /*background-color: #0055bb;*/
    background-color: rgba(255, 255, 255, 0.2);
}

/* Adjusting the size of the images */
#standings-table img, #top-scorers-table img, #top-assists-table img, #fixtures-table img, #current-selection-table img{
    max-width: 50px; /* Adjust the maximum width of the images */
    height: auto; /* Maintain aspect ratio */
}

/* Aligning team names to the left */
#standings-table td:nth-child(4), #top-scorers-table td:nth-child(4), #top-assists-table td:nth-child(4){
    text-align: left; /* Align team names to the left */
}

.standings-container h2, .top-scorers-container h2, .top-assists-container h2, .fixtures-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Add margin for spacing */
}

.standings-container h2 img, .top-scorers-container h2 img, .top-assists-container h2 img, .fixtures-container h2 img{
    margin-right: 10px; /* Add space between the logo and other content */
    align-self: flex-start; /* Align the logo to the top of the header */
    width: 64px; 
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add space between the logo and other content */
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
}

.standings-container h2 span, .top-scorers-container h2 span, .top-assists-container h2 span, .fixtures-container h2 span{
    flex-grow: 1; /* Allow the span to grow and take up remaining space */
    text-align: center; /* Center align the league name, country, and season */
}

.api-footer {
    background-color: black; /* Footer background color */
    color: white; /* Text color */
    padding: 20px; /* Padding inside the footer */
    margin-top: 20px; /* Space between the content above and the footer */
    width: 100%; /* Ensures the footer stretches across the full width */
    box-sizing: border-box; /* Includes padding in the width calculation */
}

.api-footer a {
    color: #00BFFF; /* Light blue color for links, adjust as needed */
    text-decoration: none; /* Removes underline from links */
}

.api-footer a:hover {
    text-decoration: underline; /* Adds underline on hover for better link visibility */
}

.top-scorers-container, .top-assists-container, .fixtures-container {
    text-align: center;
    padding: 20px;
    margin: 30px 20px; /* Keep consistent spacing around the container */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.2);
    max-width: calc(100% - 40px); /* Adjusted maximum width */
    overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
}

#top-scorers-table, #top-assists-table, #fixtures-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

#top-scorers-table th, #top-scorers-table td, 
#top-assists-table th, #top-assists-table td{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: white;
}

#top-scorers-table th, #top-assists-table th, #fixtures-table th{
    background-color: rgba(0, 0, 0, 0.8);
}

#top-scorers-table tr:hover, #top-assists-table tr:hover, #fixtures-table tr:hover{
    /*background-color: #0055bb;*/
    background-color: rgba(255, 255, 255, 0.2);
}

.matchday-header {
    text-align: left; /* Align the text to the left */
    padding: 10px;
    color: white; /* Set text color to white */
    background-color: rgba(0, 0, 0, 0.8); /* Background color to match table headings */
    font-size: 1.2em; /* Optionally increase the font size */
}

.matchday-header td {
    /* Ensure the cell within the matchday header row inherits the styling */
    text-align: left;
    background-color: #0066cc;
    color: white;
}

.teams-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
    gap: 20px; /* Adjust the space between the columns as needed */
    margin: 0 auto; /* Centers the container if it's not full width */
}

.lineup-container {
    display: flex;
    justify-content: space-around; /* Adjusts spacing between Starting XI and Substitutes */
}

.lineup {
    flex: 1; /* Each lineup takes up equal space */
    padding: 0 10px; /* Adds some padding around each lineup for spacing */
}

.team-info {
    width: 98%;
    margin: 0 auto; /* Centers the team info if it's not full width */
    background: rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
    justify-content: center; /* Centers the cells in the row */
}

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 5px;
}

.player {
    width: 40px; /* Size of the player circle */
    height: 40px; /* Size of the player circle */
    background-color: #e0e0e0;
    border-radius: 50%; /* Makes the div a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Adjust as needed */
    color: #000; /* Text color */
}

.cell, .player {
    position: relative; /* Ensure these are above the semi-transparent background */
    z-index: 2; /* Higher than the background div */
    /* Keep your existing styles for cells */
}

.formation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw; /* Adjust based on desired width relative to the viewport */
    height: 50vh; /* Adjust based on desired height relative to the viewport */
    margin: auto; /* Center the container on the page */
    border: 1px solid #ccc; /* Optional: adds a border for visual clarity */
    position: relative; /* Needed to position the formation absolutely within */
    background-color: rgba(0, 0, 0, 0.8);
}

.team-formation {
    position: relative;
    /* Other styles remain unchanged */
}

.formation-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--team-logo-url);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.teams-container h3{
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .search-group-container {
        flex-direction: column;
        align-items: center;
    }

    .standings-container, .league-search-container, .season-selector-container {
        padding: 10px;
    }

    #league-search-input, #season-selector {
        width: 80%;
    }

    #standings-table th, #standings-table td {
        padding: 8px;
    }
}
